
.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    gap:2rem;
}

/* Logo */

.navbar-logo {
    height: 200px;
    
}

/* Navigation Menu */

.navbar-menu {
    border: 1px solid var(--grey);
    background: rgba(0, 0, 0, 0.1);

    --bs-nav-link-color: #fff;
    --bs-nav-pills-link-active-color: var(--black);
    --bs-nav-pills-link-active-bg: #fff;
}
.navbar-menu .nav-link:hover {
    color: var(--grey);
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
/* Contact Button */

.contact-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 999px;
    background: rgba(0, 0, 0, 0.1);
}

.contact-btn:hover {
    color: var(--white);
    background: rgba(0, 0, 0, 0.35);
}

.contact-btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background: var(--white);
    border-radius: 50%;
}

/* ==========================================
   Tablet and Mobile
========================================== */

@media (max-width: 950px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 2rem;
        
    }
    
    .navbar-menu {
        justify-content: center;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 690px) {

    .custom-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    
    .navbar-menu {
        justify-content: center;
    }

    .navbar-brand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .contact-btn{
        display: none;
    }
}