<footer class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <span class="footer-logo">Traveezy</span>
                <p class="footer-desc"><strong>TravelEezy</strong> helps people discover Cambodia's best destinations,
                    local culture, and hidden gems. We make travel planning easy for both local and international
                    travelers.</p>
            </div>

            <div class="col-lg-2 col-md-6">
                <h6>Features</h6>
                <ul>
                    <li><a href="destinations.html">Explore Destinations</a></li>
                    <li><a href="food.html">Discover Local Food</a></li>
                    <li><a href="hotels.html">Find Hotels</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6">
                <h6>Content</h6>
                <ul>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="destinations.html">Destinations</a></li>
                    <li><a href="food.html">Food</a></li>
                    <li><a href="hotels.html">Hotels</a></li>
                </ul>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="sub-row">
                    <input type="email" id="subEmail" class="sub-input" placeholder="Type your email address" />
                    <button class="sub-btn" id="subBtn">Subscribe</button>
                </div>
                <div class="socials">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <hr class="footer-hr" />
        <div class="footer-bottom">
            <span>Copyright © Traveezy 2026</span>
            <span>Private Policy &nbsp; Terms of Use</span>
        </div>
    </div>
</footer>
